---

---

<div class="flex justify-center items-center p-4 gap-3">
    Developed and designed by <a
        href="https://www.news47ell.com"
        class="text-blue-500 hover:underline">Ahmet ALMAZ</a
    >
</div>