---

---

<div class="flex justify-end items-center p-4">
	<span class="mr-2">New User?</span>
	<a
		href="/seeker/signup"
		class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
		>Seeker</a
	>
	<a
		href="/owner/signup"
		class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
		>Owner</a
	>
</div>
