---
import "../assets/css/tailwind.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body class="bg-gray-100 h-screen flex flex-col">
        <slot />
    </body>
    <Footer />
</html>